<html>
<head>
<meta charset="UTF-8">
<title>반미리코 - 대학맛집보고서</title>
<style type="text/css">
svg:not (:root ).svg-inline--fa {
	overflow: visible
}

.svg-inline--fa {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -.125em
}

.svg-inline--fa.fa-lg {
	vertical-align: -.225em
}

.svg-inline--fa.fa-w-1 {
	width: .0625em
}

.svg-inline--fa.fa-w-2 {
	width: .125em
}

.svg-inline--fa.fa-w-3 {
	width: .1875em
}

.svg-inline--fa.fa-w-4 {
	width: .25em
}

.svg-inline--fa.fa-w-5 {
	width: .3125em
}

.svg-inline--fa.fa-w-6 {
	width: .375em
}

.svg-inline--fa.fa-w-7 {
	width: .4375em
}

.svg-inline--fa.fa-w-8 {
	width: .5em
}

.svg-inline--fa.fa-w-9 {
	width: .5625em
}

.svg-inline--fa.fa-w-10 {
	width: .625em
}

.svg-inline--fa.fa-w-11 {
	width: .6875em
}

.svg-inline--fa.fa-w-12 {
	width: .75em
}

.svg-inline--fa.fa-w-13 {
	width: .8125em
}

.svg-inline--fa.fa-w-14 {
	width: .875em
}

.svg-inline--fa.fa-w-15 {
	width: .9375em
}

.svg-inline--fa.fa-w-16 {
	width: 1em
}

.svg-inline--fa.fa-w-17 {
	width: 1.0625em
}

.svg-inline--fa.fa-w-18 {
	width: 1.125em
}

.svg-inline--fa.fa-w-19 {
	width: 1.1875em
}

.svg-inline--fa.fa-w-20 {
	width: 1.25em
}

.svg-inline--fa.fa-pull-left {
	margin-right: .3em;
	width: auto
}

.svg-inline--fa.fa-pull-right {
	margin-left: .3em;
	width: auto
}

.svg-inline--fa.fa-border {
	height: 1.5em
}

.svg-inline--fa.fa-li {
	width: 2em
}

.svg-inline--fa.fa-fw {
	width: 1.25em
}

.fa-layers svg.svg-inline--fa {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0
}

.fa-layers {
	display: inline-block;
	height: 1em;
	position: relative;
	text-align: center;
	vertical-align: -.125em;
	width: 1em
}

.fa-layers svg.svg-inline--fa {
	-webkit-transform-origin: center center;
	transform-origin: center center
}

.fa-layers-counter, .fa-layers-text {
	display: inline-block;
	position: absolute;
	text-align: center
}

.fa-layers-text {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: center center;
	transform-origin: center center
}

.fa-layers-counter {
	background-color: #ff253a;
	border-radius: 1em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	height: 1.5em;
	line-height: 1;
	max-width: 5em;
	min-width: 1.5em;
	overflow: hidden;
	padding: .25em;
	right: 0;
	text-overflow: ellipsis;
	top: 0;
	-webkit-transform: scale(.25);
	transform: scale(.25);
	-webkit-transform-origin: top right;
	transform-origin: top right
}

.fa-layers-bottom-right {
	bottom: 0;
	right: 0;
	top: auto;
	-webkit-transform: scale(.25);
	transform: scale(.25);
	-webkit-transform-origin: bottom right;
	transform-origin: bottom right
}

.fa-layers-bottom-left {
	bottom: 0;
	left: 0;
	right: auto;
	top: auto;
	-webkit-transform: scale(.25);
	transform: scale(.25);
	-webkit-transform-origin: bottom left;
	transform-origin: bottom left
}

.fa-layers-top-right {
	right: 0;
	top: 0;
	-webkit-transform: scale(.25);
	transform: scale(.25);
	-webkit-transform-origin: top right;
	transform-origin: top right
}

.fa-layers-top-left {
	left: 0;
	right: auto;
	top: 0;
	-webkit-transform: scale(.25);
	transform: scale(.25);
	-webkit-transform-origin: top left;
	transform-origin: top left
}

.fa-lg {
	font-size: 1.33333em;
	line-height: .75em;
	vertical-align: -.0667em
}

.fa-xs {
	font-size: .75em
}

.fa-sm {
	font-size: .875em
}

.fa-1x {
	font-size: 1em
}

.fa-2x {
	font-size: 2em
}

.fa-3x {
	font-size: 3em
}

.fa-4x {
	font-size: 4em
}

.fa-5x {
	font-size: 5em
}

.fa-6x {
	font-size: 6em
}

.fa-7x {
	font-size: 7em
}

.fa-8x {
	font-size: 8em
}

.fa-9x {
	font-size: 9em
}

.fa-10x {
	font-size: 10em
}

.fa-fw {
	text-align: center;
	width: 1.25em
}

.fa-ul {
	list-style-type: none;
	margin-left: 2.5em;
	padding-left: 0
}

.fa-ul>li {
	position: relative
}

.fa-li {
	left: -2em;
	position: absolute;
	text-align: center;
	width: 2em;
	line-height: inherit
}

.fa-border {
	border: solid .08em #eee;
	border-radius: .1em;
	padding: .2em .25em .15em
}

.fa-pull-left {
	float: left
}

.fa-pull-right {
	float: right
}

.fa.fa-pull-left, .fab.fa-pull-left, .fal.fa-pull-left, .far.fa-pull-left,
	.fas.fa-pull-left {
	margin-right: .3em
}

.fa.fa-pull-right, .fab.fa-pull-right, .fal.fa-pull-right, .far.fa-pull-right,
	.fas.fa-pull-right {
	margin-left: .3em
}

.fa-spin {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear
}

.fa-pulse {
	-webkit-animation: fa-spin 1s infinite steps(8);
	animation: fa-spin 1s infinite steps(8)
}

@
-webkit-keyframes fa-spin { 0%{
	-webkit-transform: rotate(0);
	transform: rotate(0)
}

100%{
-webkit-transform






:rotate(360deg)






;
transform






:rotate(360deg)






}
}
@
keyframes fa-spin { 0%{
	-webkit-transform: rotate(0);
	transform: rotate(0)
}

100%{
-webkit-transform






:rotate(360deg)






;
transform






:rotate(360deg)






}
}
.fa-rotate-90 {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}

.fa-rotate-180 {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.fa-rotate-270 {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg)
}

.fa-flip-horizontal {
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1)
}

.fa-flip-vertical {
	-webkit-transform: scale(1, -1);
	transform: scale(1, -1)
}

.fa-flip-horizontal.fa-flip-vertical {
	-webkit-transform: scale(-1, -1);
	transform: scale(-1, -1)
}

:root .fa-flip-horizontal, :root .fa-flip-vertical, :root .fa-rotate-180,
	:root .fa-rotate-270, :root .fa-rotate-90 {
	-webkit-filter: none;
	filter: none
}

.fa-stack {
	display: inline-block;
	height: 2em;
	position: relative;
	width: 2em
}

.fa-stack-1x, .fa-stack-2x {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0
}

.svg-inline--fa.fa-stack-1x {
	height: 1em;
	width: 1em
}

.svg-inline--fa.fa-stack-2x {
	height: 2em;
	width: 2em
}

.fa-inverse {
	color: #fff
}

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.sr-only-focusable:active, .sr-only-focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto
}

:root {
    /* color */
    --main-color-pink: #FF4E55;
    --color-light-gray: #CACFD2;
    --color-background-gray: #f7f9fa;
    --main-color-black: #000000;
    --main-color-white: #ffffff;
    --main-color-red: #F92929;
    --main-color-dark-gray: #808B96;
    --color-background-beige: #fff4eb;

    /* font-size */
    --font-size-medium: 34px;
    --font-size-small: 30px;
    /* margin */
    --margin-title-bar: 40px;
}

a {
	text-decoration: none;
}
::selection {
  background: #000;
  color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */

header {
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px var(--color-light-gray);
    background: var(--main-color-white);
    position: sticky;
    top: 0;
    z-index: 5;
}

header .contents {
    display: flex;
    flex-direction: row;
}

header .contents a {
    display: block;
    height: 37px;
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color-pink);
    padding-top: 5px;
    margin-right: 17px;
}

header .search_bar {
    height: 44px;
    width: 513px;
    border: 1px solid var(--main-color-pink);
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 8px;
    position: relative;
    margin-right: 22px;
}

#search_text {
    border: none;
    width: 440px;
    height: 38px;
    font-size: 18px;
}


header .contents .search_bar .fa-search {
    font-size: 24px;
    position: absolute;
    right: 15px; top: 8px;
    color: var(--main-color-pink);
}


.details_placeinfo {
    position: relative;
    padding: 25px 79px 40px;
}
.cont_menu {
    padding: 29px 79px 44px;
    margin-top: 10px;
    border: 1px solid #eaeaea;
    background: #fff;
}
.cont_findway {
    padding: 29px 79px 47px;
    margin-top: 10px;
    border: 1px solid #eaeaea;
    background: #fff;
}

.findway_map, .view_map {
    position: relative;
    width: 638px;
    height: 258px;
}
.findway_map {
    overflow: hidden;
    top: 1px;
    margin-top: 19px;
}
.cont_menu .nophoto_type .info_menu {
    overflow: hidden;
    float: none;
}
dl, li, menu, ol, ul {
    list-style: none;
}
.container{
    padding: 29px 79px 47px;
    margin-top: 10px;
    border: 1px solid #eaeaea;
    background: #fff;
}
.material-icons{
	color: var(--main-color-pink);
}
</style>

<!-- <link href="css/restaurantInfo2.css" rel="stylesheet" type="text/css"> -->

</head>
<body>
	<header>
		<div class="contents">
			<a href="index.html">대학맛집보고서</a>
			<div class="search_bar">
				<input id="search_text" type="text" autocomplete="off"
					placeholder="위치, 상호명, 음식 이름으로 검색해보세요."> <a href="#"><svg
						class="svg-inline--fa fa-search fa-w-16" aria-hidden="true"
						data-prefix="fas" data-icon="search" role="img"
						xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
						data-fa-i2svg="">
						<path fill="currentColor"
							d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
					<!-- <i class="fas fa-search"></i> --></a>
			</div>
		</div>
	</header>

	<div class="lazy background-img"
		style="height: auto; background-color: rgb(0, 0, 0); background-size: cover; background-repeat: no-repeat; background-position: 50% 0px; text-align: left; width: 100%; word-break: break-all; background-image: url(https://modo-phinf.pstatic.net/20180404_214/1522769784135a0hI1_JPEG/mosamT5S3m.jpeg?type=w720);">

		<div
			style="padding-top: 50vw; padding-bottom: 15px; text-align: center; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9) 95%);">
			<span
				style="font-size: 7.5vw; font-weight: bold; color: #fff; text-shadow: 1px 1px 1px black;">반미리코</span><br>
			<p style="padding-top: 2px;">
				<span style="font-size: 14px; color: #eee; letter-spacing: 0px;">평가
					<b>17</b>건 (<b>4.17</b>)
				</span> <span style="color: #bbb;">|</span> <span
					style="font-size: 14px; color: #eee; letter-spacing: 0px;">방문자
					<b>7945</b>명
				</span>
			</p>

			<table cellpadding="4"
				style="width: 100%; margin-top: 12px; margin-bottom: 4px; table-layout: fixed;"
				align="center" id="go_reply">
				<tbody>
					<tr>
						<td width="100%" align="center"
							style="vertical-align: -webkit-baseline-middle">
							<div id="div_chu_bbs"
								style="margin-right: 5px; display: inline; cursor: pointer; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);">
								<span
									style="font-size: 14px; padding: 4px 8px; border: 1px solid #fff; color: #fff; border-radius: 8px;"><i
									class="material-icons" style="color: #fff; font-size: 16px;">좋아요</i>
									<span style="color: #fff; font-weight: 800;">27</span></span>
							</div>

							<div class="menu"
								style="display: inline; cursor: pointer; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);">
								<span>
									<a href="/reviews/write" style="font-size: 14px; padding: 4px 8px; border: 1px solid #fff; color: #fff; border-radius: 8px;">리뷰쓰기</a>
								</span></div>


						</td>
					</tr>
					<tr>
						<td width="100%" align="center"
							style="vertical-align: -webkit-baseline-middle; padding-top: 32px; letter-spacing: 10px;">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div data-viewid="basicInfo" data-root="" class="details_placeinfo">
		<h2 class="tit_subject">상세정보</h2>
		<div class="placeinfo_default">
			<h4 class="tit_detail">
				<span class="ico_comm ico_address">위치</span>
			</h4>
			<div class="location_detail">
				<span class="txt_address">대구 북구 대학로23길 7 (우)41544</span> <span
					class="txt_addrnum">지번<span class="bg_bar"></span>산격동 1321-5
				</span>
			</div>
		</div>
		<div class="placeinfo_default placeinfo_contact">
			<h4 class="tit_detail">
				<span class="ico_comm ico_contact">연락처</span>
			</h4>
			<div class="location_detail ">
				<!-- btn_more 클릭 했을 때 open_on 추가 -->
				<div class="location_present">
					<span class="num_contact"><span class="txt_contact">070-8278-1607</span><span
						class="color_g"> 대표번호</span></span>
				</div>
				<div class="location_present">
					<a href="https://banhmirico.modoo.at/" target="_blank"
						class="link_homepage" data-logtarget=""
						data-logevent="main_info,website">banhmirico.modoo.at</a>
				</div>
				<div class="location_present">
                    <strong class="tit_operation fst">영업시간</strong>
                            
                                <ul class="list_operation">
                                        <li>
                                            <span class="txt_operation">매일 <span class="time_operation">11:00 ~ 21:00</span></span>
                                       </li>
                                </ul>
                </div>
			</div>
		</div>

	</div>
	<div data-viewid="findway" data-root="" class="cont_findway">

		<div class="findway_map">
			<h2 class="screen_out">지도 보기</h2>
			<div class="view_map" id="map"
				style="overflow: hidden; background: url(&quot;https://t1.daumcdn.net/mapjsapi/images/2x/bg_tile.png&quot;);">
				<div
					style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; touch-action: none; cursor: url(&quot;https://i1.daumcdn.net/dmaps/apis/cursor/openhand.cur.ico&quot;) 7 5, url(&quot;https://i1.daumcdn.net/dmaps/apis/cursor/openhand.cur.ico&quot;), default;">
					<div style="position: absolute; left: -11px; top: -19px;">
						<div style="position: absolute; z-index: 0;"></div>
						<div style="position: absolute; z-index: 1; left: 0px; top: 0px;">
							<img
								src="https://map0.daumcdn.net/map_2d_hd/2012tlq/L4/639/732.png"
								alt="" draggable="false"
								style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -18px; top: 66px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
								src="https://map1.daumcdn.net/map_2d_hd/2012tlq/L4/639/733.png"
								alt="" draggable="false"
								style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 238px; top: 66px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
								src="https://map2.daumcdn.net/map_2d_hd/2012tlq/L4/639/734.png"
								alt="" draggable="false"
								style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 494px; top: 66px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
								src="https://map3.daumcdn.net/map_2d_hd/2012tlq/L4/639/735.png"
								alt="" draggable="false"
								style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 750px; top: 66px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
								src="https://map0.daumcdn.net/map_2d_hd/2012tlq/L4/640/732.png"
								alt="" draggable="false"
								style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -18px; top: -190px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
								src="https://map1.daumcdn.net/map_2d_hd/2012tlq/L4/640/733.png"
								alt="" draggable="false"
								style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 238px; top: -190px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
								src="https://map2.daumcdn.net/map_2d_hd/2012tlq/L4/640/734.png"
								alt="" draggable="false"
								style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 494px; top: -190px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
								src="https://map3.daumcdn.net/map_2d_hd/2012tlq/L4/640/735.png"
								alt="" draggable="false"
								style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 750px; top: -190px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
								src="https://map0.daumcdn.net/map_2d_hd/2012tlq/L4/641/732.png"
								alt="" draggable="false"
								style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: -18px; top: -446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
								src="https://map1.daumcdn.net/map_2d_hd/2012tlq/L4/641/733.png"
								alt="" draggable="false"
								style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 238px; top: -446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
								src="https://map2.daumcdn.net/map_2d_hd/2012tlq/L4/641/734.png"
								alt="" draggable="false"
								style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 494px; top: -446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;"><img
								src="https://map3.daumcdn.net/map_2d_hd/2012tlq/L4/641/735.png"
								alt="" draggable="false"
								style="position: absolute; user-select: none; -webkit-user-drag: none; min-width: 0px; min-height: 0px; max-width: none; max-height: none; left: 750px; top: -446px; opacity: 1; transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; width: 256px; height: 256px;">
						</div>
						<div style="position: absolute; z-index: 1;"></div>
						<div
							style="position: absolute; z-index: 1; width: 638px; height: 258px;"></div>
						<div style="position: absolute; z-index: 1;">
							<svg version="1.1"
								style="stroke: none; stroke-dashoffset: 0.5; stroke-linejoin: round; fill: none; transform: translateZ(0px); position: absolute; left: -1265px; top: -497px; width: 3190px; height: 1290px;"
								viewBox="0 0 3190 1290">
								<defs></defs></svg>
						</div>
						<div
							style="position: absolute; z-index: 1; width: 100%; height: 0px; transform: translateZ(0px);">
							<div
								style="position: absolute; margin: -48px 0px 0px -17px; z-index: 999; left: 319px; top: 129px;">
								<img draggable="false"
									src="//t1.daumcdn.net/localimg/localimages/07/2018/pc/rtn/ico_findway.png"
									alt="" title=""
									style="min-width: 0px; min-height: 0px; max-width: 99999px; max-height: none; border: 0px; display: block; position: absolute; user-select: none; -webkit-user-drag: none; clip: rect(0px, 66px, 50px, 30px); top: 0px; left: -30px; width: 70px; height: 70px;">
							</div>
							<div
								style="position: absolute; margin: -17px 0px 0px -15px; z-index: 0; left: 278px; top: 218px;">
								<img draggable="false"
									src="//t1.daumcdn.net/localimg/localimages/07/2018/pc/rtn/ico_findway.png"
									alt="" title=""
									style="min-width: 0px; min-height: 0px; max-width: 99999px; max-height: none; border: 0px; display: block; position: absolute; user-select: none; -webkit-user-drag: none; clip: rect(30px, 30px, 60px, 0px); top: -30px; left: 0px; width: 70px; height: 70px;">
							</div>
							<div
								style="position: absolute; margin: -17px 0px 0px -15px; z-index: 0; left: 403px; top: 75px;">
								<img draggable="false"
									src="//t1.daumcdn.net/localimg/localimages/07/2018/pc/rtn/ico_findway.png"
									alt="" title=""
									style="min-width: 0px; min-height: 0px; max-width: 99999px; max-height: none; border: 0px; display: block; position: absolute; user-select: none; -webkit-user-drag: none; clip: rect(30px, 30px, 60px, 0px); top: -30px; left: 0px; width: 70px; height: 70px;">
							</div>
							<div
								style="position: absolute; margin: -17px 0px 0px -15px; z-index: 0; left: 256px; top: 221px;">
								<img draggable="false"
									src="//t1.daumcdn.net/localimg/localimages/07/2018/pc/rtn/ico_findway.png"
									alt="" title=""
									style="min-width: 0px; min-height: 0px; max-width: 99999px; max-height: none; border: 0px; display: block; position: absolute; user-select: none; -webkit-user-drag: none; clip: rect(30px, 30px, 60px, 0px); top: -30px; left: 0px; width: 70px; height: 70px;">
							</div>
						</div>
					</div>
				</div>
				<div
					style="position: absolute; cursor: default; z-index: 1; margin: 0px 6px; height: 19px; line-height: 14px; bottom: 0px; color: rgb(0, 0, 0); right: 0px;">
					<div
						style="color: rgb(0, 0, 0); text-align: center; font-size: 10px; float: right;">
						<div
							style="float: left; margin: 2px 3px 0px 4px; height: 6px; transition: width 0.1s ease 0s; border-top: none rgb(0, 0, 0); border-right: 2px solid rgb(0, 0, 0); border-bottom: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0); border-image: initial; width: 46px;"></div>
						<div
							style="float: left; margin: 0px 4px 0px 0px; font-family: AppleSDGothicNeo-Regular, 돋움, dotum, sans-serif; font-weight: bold; color: rgb(0, 0, 0);">100m</div>
					</div>
					<div style="margin: 0px 4px; float: right;">
						<a target="_blank" href="http://map.kakao.com/"
							title="Kakao 지도로 보시려면 클릭하세요."
							style="float: left; width: 32px; height: 10px;"><img
							src="https://t1.daumcdn.net/mapjsapi/images/2x/m_bi_b.png"
							alt="Kakao 지도로 이동"
							style="float: left; width: 32px; height: 10px; border: none;"></a>
						<div
							style="font: 11px/11px Arial, Tahoma, Dotum, sans-serif; float: left;"></div>
					</div>
				</div>
				<div
					style="cursor: auto; position: absolute; z-index: 2; left: 0px; top: 0px;"></div>
			</div>
			<!-- 지도 영역 입니다. -->
			<strong class="screen_out">지도 보기 탭 메뉴</strong>
			<ul class="tab_map">
			</ul>
		</div>
	</div>
	<div data-viewid="menuInfo" data-root="" class="cont_menu">
		<div class="particular_head">
			<h2 class="tit_subject">메뉴</h2>
		</div>
		<strong class="screen_out">메뉴 목록</strong>
		<ul class="list_menu" data-maxpage="1">
			<li class="nophoto_type menu_fst" data-page="1">
				<!-- 이미지가 있는 경우 -->
				<div class="info_menu">
					<span class="loss_word">치킨 샌드위치</span> <em class="price_menu"><span
						class="screen_out">가격: </span>6,500</em>
				</div>
			</li>
			<li class="nophoto_type" data-page="1">
				<!-- 이미지가 있는 경우 -->
				<div class="info_menu">
					<span class="loss_word">포크 샌드위치</span> <em class="price_menu"><span
						class="screen_out">가격: </span>6,500</em>
				</div>
			</li>
			<li class="nophoto_type" data-page="1">
				<!-- 이미지가 있는 경우 -->
				<div class="info_menu">
					<span class="loss_word">어묵 샌드위치</span> <em class="price_menu"><span
						class="screen_out">가격: </span>6,500</em>
				</div>
			</li>
			<li class="nophoto_type" data-page="1">
				<!-- 이미지가 있는 경우 -->
				<div class="info_menu">
					<span class="loss_word">쌀 도우로 만든 시그니처 피자</span> <em
						class="price_menu"><span class="screen_out">가격: </span>10,000</em>
				</div>
			</li>
			<li class="nophoto_type opened_last" data-page="1">
				<!-- 이미지가 있는 경우 -->
				<div class="info_menu">
					<span class="loss_word">쌀국수</span> <em class="price_menu"><span
						class="screen_out">가격: </span>8,500</em>
				</div>
			</li>
		</ul>
	</div>

	<div class="container">
		<div class="tabs" style="height: 42px; margin-top: 0px;">
			<div style="border-left: 0 !important;" class="tab-link current"
				data-tab="tab-1">
				<h2>리뷰</h2>
			</div>

		</div>

		<div id="tab-1" class="tab-content current">


			<div
				style="vertical-align: middle; padding-left: 15px; padding-top: 15px; font-size: 14px; padding-bottom: 10px;">
				<a href="#"><span style="color: #ff4e55; font-weight: bold;">최신</span></a>
				<span style="font-size: 14px; color: #eee;">|</span> <a href="#"><span
					style="color: #ccc;">인기</span></a> <span
					style="font-size: 14px; color: #eee;">|</span>
			</div>

			<table border="0" cellspacing="5" cellpadding="5" width="100%"
				style="table-layout: fixed;">
				<tbody>
					<tr id="review_27523">
						<td width="42" valign="top"
							style="padding-left: 10px; padding-top: 7px;" align="center"><img
							title="" src="../public/images/person_1.jpg" width="42"
							height="42"
							style="border-radius: 42px; border: 0; cursor: pointer;"
							class="lodd"></td>

						<td width="100%"
							style="padding-left: 15px; word-wrap: break-word;"><span
							style="font-weight: bold; font-size: 13px; cursor: pointer;"
							class="lodd">mi</span> <br> <br>
							<div style="height: 6px;"></div>
							<div onclick="event.cancelBubble = true;">
								<div id="popUp27523" border="0"
									style="margin-right: 4px; cursor: pointer; float: left; display: inline-block; width: 80px; height: 80px; -webkit-tap-highlight-color: transparent; background-size: cover; background-repeat: no-repeat; margin-bottom: 4px; border-radius: 0px; background-image: url(https://modo-phinf.pstatic.net/20180404_214/1522769784135a0hI1_JPEG/mosamT5S3m.jpeg?type=w720);"></div>
								<br>
							</div>


							<div style="width: 100%; line-height: 23px; clear: both;">
								<span
									style="letter-spacing: -0.5px; font-size: 16px; color: #333;">
									반미 맛있어요! 팟타이는 쏘쏘</span> <br> <span style="font-size: 12px;"><span
									style="color: #b5b5b5; letter-spacing: -0.5px;">3시간 전</span></span>
								<div style="width: 48px; display: inline-block;"
									onclick="showPopup(27523);">
									<i class="material-icons"
										style="color: #ccc; font-size: 12px; cursor: pointer;"> </i>
								</div>
							</div></td>
						<td valign="top" align="left" style="padding-right: 10px;"
							width="24">
							<div id="div_chu_review27523"
								style="text-align: center; line-height: 4px; cursor: pointer; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);">
								<i class="material-icons"
									style="font-size: 24px; font-style: normal;"> ♡</i><br> <br>
								<span style="font-size: 10px; color: #000;">3</span>
							</div>
						</td>
					</tr>

					<tr>
						<td colspan="3" style="border-top: 1px solid #f2f2f2; padding: 0;"></td>
					</tr>
					<tr id="review2_1444">
						<td style="margin: 0; padding: 0;"><span
							class="review_baby_1444"></span></td>
						<td style="margin: 0; padding: 0;">

							<div id="popLayer1444"
								style="width: 100%; display: none; z-index: 25; margin-bottom: 5px;">
								<div id="popLayer_repl1444">
									<span style="color: #ccc; font-size: 11px;">댓글을 불러오는
										중...</span>
								</div>
							</div>

						</td>
					</tr>

					<tr>
						<td colspan="3" style="border-top: 1px solid #f2f2f2; padding: 0;"></td>
					</tr>

				</tbody>
			</table>




			<div id="list">
				<div id="list_load_deobogi"></div>
			</div>
		</div>
	</div>


</body>
</html>