<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Write Article</h1>
        <form name='write' method='POST' action='/reviews/write'>
            <table width=100%>
                <tr>
                    <th>title</th>
                    <td><input type='text' name='title'></td>
                </tr>
                <tr>
                    <th>author</th>
                    <td><input type='text' name='author'></td>
                </tr>
                <tr>
                    <th>article</th>
                    <td><input type='text' name='article' rows='10'></td>
                </tr>
            </table>
            <p>
                <input type='submit' value="글 쓰기">
        </form>
    </body>
</html>