@charset "EUC-KR";


body {
    font-family: 'Nanum Pen Script', cursive;
}
H1 {
    font-style: bold;
    font-size: 28pt;
    font-family: 'Nanum Gothic', sans-serif;
 	text-align: center;

}
li {
    font-family: 'Do Hyeon', cursive;
    font-size: 14pt;
    list-style: none;
}

table {
	width: 80%;
	border-collapse: collapse;
	margin: auto;
}

th {
	text-align: center;
	font-family: 맑음고딕;
	font-size: 11pt;
}

table, td, tr, th {
	font-style: bold;
	font-family: 고딕체;
	font-size: 10pt;
	border: 1px solid black;
}